<link rel="stylesheet" href="/Css/contact.css">


<h2>Contact Us / File a Complaint</h2>

<form action="/contact" method="POST">
  <label>Order ID:</label>
  <input type="text" name="orderId" required />
  
  <label>Message:</label>
  <textarea name="message" required></textarea>
  
  <button type="submit">Submit Complaint</button>
</form>
