body {
  font-family: 'Segoe UI', sans-serif;
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}
.form-box {
  background-color: cadetblue;
  padding: 30px;
  border-radius: 10px;
  width: 95%;
  max-width: 600px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
h2 {
  text-align: center;
  margin-bottom: 25px;
  color: black;
}
.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  flex: 1;
}
input {
  padding: 10px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}
input:invalid {
  border-color: red;
}
.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}
.row {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
button {
  width: 100%;
  padding: 12px;
  background-color: darkgrey;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
button:hover {
  background-color: blue;
}
button.success {
  background-color: green !important;
}
#success-message {
  margin-top: 15px;
  font-size: 15px;
  font-weight: 500;
  color: green;
  text-align: center;
}