*{
    margin:0;
    padding:0;
    box-sizing:border-box
    }
    body {
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    
    }
    .navbar-nav .nav-link {
        transition: all 0.3s ease;
      }
      
    .navbar-nav .nav-link:hover {
        color:cadetblue; /* Change text color on hover */
        background-color: #444; /* Add background color on hover */
      }

    .navbar .d-flex .text-light:hover {
        background-color:cadetblue; /* Change icon color on hover */
      }
    
    .category-section{
      background-color:dimgrey ;
      padding:10px;
    }
    .category-section ul{
        display:flex;
        gap:2px;
        padding:0px;
        margin:0px; 
        list-style-type:none;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    }
    
    .category-section li{
        margin:0 15px;
    }
    .category-section a{
        color:azure;
        text-decoration: none;
        font-size:15px;
    }
    .category-section a:hover{
        background-color:lightsalmon;
    
    }
     
    
     .promo-banner {
        background-color: black;
        color: white;
        text-align: center;
        padding: 100px 0;  
    }
    
    .promo-content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;        
        max-width: 1200px;
        margin: 0 auto;                 
        height: 180px;                  
    }
    
    .promo-left {
        flex: 2;                        
        text-align: left;                
        padding-left: 50px;              
    }
    
    .discount-heading {
        font-size: 24px;                 
        font-weight: bold;               
        font-family: 'Arial', sans-serif;
    }
    
    .sub-heading {
        font-size: 20px;                 
        font-weight: normal;             
        margin-top: 10px;                
    }
    
    .code {
        font-size: 16px;                 
        font-weight: normal;
        margin-top: 5px;                 
    }
    
    .promo-center {
       
        flex: 2;                         
        text-align: center;             
        padding: 0 20px;               
    }
    
    .large-discount-heading {
        font-size: 50px; 
        padding-top: 20px;               
        font-weight: bold;            
    }
    .promo-right {
        flex: 1;                        
        text-align: right;               
        font-size: 22px;               
        font-weight: bold;               
        padding-right: 50px;             
        display: flex;                   
        justify-content: flex-start;     
        align-items: flex-start;         
    }
    
    
    .promo-bottom-text {
        margin-top: 10px;
        font-size: 14px;
        font-weight: normal;
        color: #ccc; 
    }
    
    
    .white-space {
        height: 5px; 
        background-color: white;
        width:100%;
    }
    
    
    .video-section {
        margin-top: 15px; 
        text-align: center; 
    }
    
    
    video {
        width: 100%; 
        max-width: 100%; 
        margin: 0 auto; 
    }
    
    .white-space {
        height: 5px;  
        background-color: white;
        width:100%;
    }
    
    
    .video2-section {
        margin-top: 15px; 
        text-align: center; 
    }
    
    video {
        width: 100%; 
        max-width: 100%; 
        margin: 0 auto;
    }
    
    .image-section {
        margin-top: 30px; 
        text-align: center; 
    }
    
    .image-container {
        display: flex; 
        justify-content: center; 
        gap: 4px; 
         
    }
    .image {
        width: 50%;
        height: auto;
        object-fit: cover;
    }
    
    .line{
     text-align:center;
     margin-top: 20px;
     font-size: 30px;
     font-weight: bold;
    }
Carousel Image Styling */
 carousel-inner .carousel-item img {
    width: 200px; /* Makes the image responsive */
    height: 50px;
  } /* Set a fixed height for the carousel images */
    /*object-fit: cover; Ensures the image covers the container properly*/
    /* max-height: 250px; /* Prevents the image from becoming too large */
    /*object-position: center; Ensures the image doesn't exceed the container height
 }

/* .carousel-inner .carousel-item img {
    width: 100%; /* Makes the image responsive */
    /*height: 500px; /* Set the height to 500px to prevent it from being too small */
    /*object-fit: cover; /* Ensures the image covers the available space without stretching */
    /* object-position: center; Ensures the image is centered */


    
.container{
       max-width:1170; 
       background-color:lightgray;
       margin-top:10px;
       height:auto;
    }
    
    .footer-links {
        display:flex;
        justify-content:center; 
        gap: 25px; 
        align-items: center;
        margin-bottom: 20px;
      }
    .social-media-links {
        display:flex;
        justify-content:center;
        gap:30px;
        margin-top:10px;
        background-color: rgba(255,255,255,0);
        border-radius: 50%;
    }
    
    .footer-links .social-media-links a:hover{
        border-radius: 50%;
        height:40px;
        width:40px;
        background-color:whitesmoke;
    
        
    }
    .social-icon-facebook{
    font-size:30px;
    color:darkblue;
    text-decoration: none;
    border-radius: 50%;
    
    }
    .social-icon-instagram{
        font-size:30px;
        color:purple;
        text-decoration: none;
    }
    .social-icon-snapchat{
        font-size:30px;
        color:darkorange;
        text-decoration: none;
    }
    
    .payment-methods{
     display:flex;
     gap:30px;
     margin-top:10px;
    }
    .payment-icon-visa{
    font-size:30px;
    color:whitesmoke;
    text-decoration: none;
    }
    
    .payment-icon-mastercard{
        font-size:30px;
        color:black;
        text-decoration: none;
    }
    
    .payment-icon-paypal{
        font-size:30px;
        color:blueviolet;
        text-decoration: none;
    }
    
    .footer-col ul{
        list-style-type:none;
        font-size:15px;
        
    }
    .row{
        display:flex;
        flex-wrap:wrap;
    }
    
    .footer{
    background-color:aliceblue;
    padding:0px 0px;
    
    }
    
    .footer-col{
     width:25%;
     padding:10px 10px;
    
    
    }
    
    .footer-col h4{
     font-size: 20px;
     color:black;
     margin-bottom:20px;
     text-transform:capitalize;
     position:relative;
    }
    
    .footer-col h4::before{
        content:'';
        position:absolute;
        left:0;
        bottom:-10px;
        box-sizing: border-box;
        width:50px;
        background-color:blue;
    }
    .footer-col ul li:not(:last-child){
        margin-bottom:10px;
    }
    
    .footer-col ul li a{
     font-size:16px;
    
     text-decoration: none;
     color:#444;
     font: weight 400px;
     display:block;
     transition:all 0.3s ease;
    
    }
    .footer-col ul li a:hover{
        color:darkblue;
        padding-left: 10px;
    
    }
    
    @media(max-width:767px){
        .footer-col{
            width:50%;
            margin-bottom:30px;
        }
        
    }
    
    @media(max-width:574px){
        .footer-col{
            width:100%;
        
        }
        
    }
    
    .country-icon img{
        width:20px;
        height:20px;
        border-radius: 50%;
        margin-left:10px;
        margin-right:auto;
        margin-bottom:auto;
        margin-top:auto;
    
    }
    
    .country-icons{
        display:flex;
        gap:10px;
        justify-content:flex-start;
        margin-top:10px;
    }
    .country-icons img{
        
        width:20px;
        height:20px;
        border-radius:50%;
    
    }
    .country-icons img:hover {
        border-radius:50%;
        color:blueviolet;
    }
    .container2{
        background-color:darkslategrey; 
        padding:10px 0;
    }
    .footer-bottom{
        display:flex; 
        justify-content:space-between;
       
    }
    .footer-bottom p{
        color: azure;
        padding:10px 10px;
        margin:0;
    }
    .bottom-links{
      padding:10px 10px;
    
    }
    .bottom-links a{
        color: azure;
        text-decoration: none;
    
    }
    .bottom-links a:hover{
        color:darkblue;
        text-decoration: none;
    
    } 

    