
<div class="register-container">
  <h2>Register</h2>
  <form id="register-form">
    <!-- <form id="register-form" action="javascript:void(0);"> -->
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required />

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required />

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required />

    <label for="confirmPassword">Confirm Password:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" required />
    <p id="error-msg" style="color: red;"></p>

    <button type="submit">Register</button>
  </form>
</div>




